{% extends 'base.html.twig' %}

{% block title %}Edit DishCategory{% endblock %}

{% block body %}
    <h1>Edit DishCategory</h1>

    {{ include('dish_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dish_category_index') }}">back to list</a>

    {{ include('dish_category/_delete_form.html.twig') }}
{% endblock %}
