$Ingrid_Darling: "Ingrid Darling";
$Roboto_Serif: "Roboto Serif";
$Merriweather: "Merriweather";

$DarkGreen: #15616d;
$Marron: #631104;
$MediumMarron: #78290f;
$LightGreen: #d2e0dd;
$MediumGreen: #57a5b8;
$Orange: #ff7d00;
$LightOrange: #fdb560;
$Dark: #001524;
$Gray: #d9d9d9;
$Light: #ffecd1;
