@font-face {
  font-family: "Ingrid Darling";
  src: url(../Fonts/IngridDarling-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Serif";
  src: url(../Fonts/RobotoSerif-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url(../Fonts/Merriweather-Regular.ttf) format("truetype");
}
