footer {
  align-self: flex-end;
  margin-top: 1.5rem;
  background-color: $Gray;
  height: 2.5rem;
  color: $Dark;
  font-family: $Roboto_Serif;
  position: absolute;
  bottom: -4rem;
  a {
    color: $Dark;
  }
}
