@font-face {
  font-family: "Ingrid Darling";
  src: url(../fonts/IngridDarling-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Serif";
  src: url(../fonts/RobotoSerif-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Regular.ttf) format("truetype");
}
body {
  font-family: "Merriweather";
  font-size: 16px;
  padding: 0;
}
/*Surcarge définitions bootstrap pour un meilleur rendu*/
dl,
ol,
ul {
  margin: 0;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #d9d9d9;
  color: #001524;
  font-family: "Roboto Serif";
}
.navbar-brand {
  margin: 0;
  font-family: "Ingrid Darling";
  font-size: 3rem;
}
